body
  background: #222
  color: #eee
  margin: 0

.app
  display: flex
  justify-content: center
  padding-top: 20px

.board
  border: solid 1px gray
  border-radius: 4px
  // background: linear-gradient(45deg, #00d5ff71 0%, #00ff5196 100%)
  padding: 0.4rem

.cell
  position: relative
  border-radius: 50%
  // background: radial-gradient(circle, #0077ff 10%, #00263b 100%)
  &::after
    // position: absolute
    // content: ' '
    // top: 50%
    // left: 50%
    // transform: translate(-50%, -50%)
    // width: 50%
    // height: 50%
    // background: #fff4
    // filter: blur(3px)
    // border-radius: 50%
